.question-box {
  width: 45rem;
  height: 25rem;
  margin: 10rem auto auto auto;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.question-flag {
  width: 7rem;
  height: 3rem;
  text-align: center;
}

.question-flag img {
  width: 100%;
}

.question-option {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.question-option p {
  text-align: center;
  border: 1px solid #000;
}
