.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../src/images/pexels-pixabay-41949.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  font-family: "Hind", sans-serif;
}
